workflow/n8n/workflow-correos-autorespuesta.json
{
  "name": "Alma - Respuesta Automática de Correos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "Revisar cada 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ALMA_API_URL}}/api/correos/importantes",
        "options": {
          "timeout": 30000
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "max",
              "value": "5"
            }
          ]
        }
      },
      "id": "node-get-correos",
      "name": "Obtener Correos Importantes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-check-correos",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-check-correos",
      "name": "¿Hay correos nuevos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "correos",
        "options": {}
      },
      "id": "node-split-correos",
      "name": "Separar cada correo",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ALMA_API_URL}}/api/conversacion/mensaje",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "reyna-n8n"
            },
            {
              "name": "mensaje",
              "value": "=Analiza este correo y genera un borrador de respuesta profesional. De: {{ $json.de }}. Asunto: {{ $json.asunto }}. Contenido: {{ $json.contenido }}"
            },
            {
              "name": "contexto",
              "value": "={\"tipo\": \"respuesta_correo\", \"remitente\": \"{{ $json.de }}\", \"asunto\": \"{{ $json.asunto }}\"}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-alma-respuesta",
      "name": "Alma genera respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "correo_original_de",
              "value": "={{ $('Separar cada correo').item.json.de }}"
            },
            {
              "name": "correo_original_asunto",
              "value": "={{ $('Separar cada correo').item.json.asunto }}"
            },
            {
              "name": "respuesta_alma",
              "value": "={{ $json.respuesta }}"
            },
            {
              "name": "intencion_detectada",
              "value": "={{ $json.intencion }}"
            },
            {
              "name": "fecha_procesado",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-preparar-datos",
      "name": "Preparar datos para log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.GOOGLE_SHEET_CORREOS_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Respuestas Alma"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.fecha_procesado }}",
            "De": "={{ $json.correo_original_de }}",
            "Asunto": "={{ $json.correo_original_asunto }}",
            "Respuesta Alma": "={{ $json.respuesta_alma }}",
            "Intención": "={{ $json.intencion_detectada }}",
            "Estado": "Pendiente revisión"
          }
        },
        "options": {}
      },
      "id": "node-google-sheets",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1560, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURAR_CREDENCIAL",
          "name": "Google Sheets - Reyna"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$env.REYNA_EMAIL}}",
        "subject": "=Alma - Borrador de respuesta: {{ $json.correo_original_asunto }}",
        "message": "=<h3>📧 Correo de: {{ $json.correo_original_de }}</h3>\n<p><strong>Asunto:</strong> {{ $json.correo_original_asunto }}</p>\n<hr>\n<h3>✍️ Respuesta sugerida por Alma:</h3>\n<p>{{ $json.respuesta_alma }}</p>\n<hr>\n<p><small>Intención detectada: {{ $json.intencion_detectada }} | Procesado: {{ $json.fecha_procesado }}</small></p>",
        "options": {}
      },
      "id": "node-email-notificacion",
      "name": "Notificar a Reyna por email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1560, 300],
      "credentials": {
        "smtp": {
          "id": "CONFIGURAR_CREDENCIAL",
          "name": "SMTP - Reyna"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-no-correos",
      "name": "Sin correos nuevos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Revisar cada 15 min": {
      "main": [
        [
          {
            "node": "Obtener Correos Importantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Correos Importantes": {
      "main": [
        [
          {
            "node": "¿Hay correos nuevos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay correos nuevos?": {
      "main": [
        [
          {
            "node": "Separar cada correo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin correos nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar cada correo": {
      "main": [
        [
          {
            "node": "Alma genera respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alma genera respuesta": {
      "main": [
        [
          {
            "node": "Preparar datos para log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos para log": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar a Reyna por email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Alma",
      "id": "tag-alma"
    },
    {
      "name": "Correos",
      "id": "tag-correos"
    }
  ],
  "meta": {
    "instanceId": "asistente-de-reyna",
    "templateCredsSetupCompleted": false
  }
}
